[features]
seeds = false
skip-lint = false

[programs.localnet]
escrow = "EFnubV4grWUCFRPkRTTNVxEdetxYb8VJtAAqQQmxmw8X"

[programs.devnet]
escrow = "EFnubV4grWUCFRPkRTTNVxEdetxYb8VJtAAqQQmxmw8X"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.test.json -t 1000000 tests/**/*.ts"
